<h1>Restaurants list</h1>
<br>
<br>
<table class="container">
	<tr class="row">
		<th><div class="col-md-2">Title</div></th>
		<th><div class="col-md-2">Description</div></th>
		<th><div class="col-md-2">Image</div></th>
	</tr>
	
	<% @rests.each do |rest| %>

	<tr class="row">
		<td><div class="col-md-3"><%= link_to rest.title, forest_show_path(rest), class: 'btn btn-primary' %></div></td>
		<td><div class="col-md-10"><%= rest.description %></div></td>
		<td class="col-md-6"><%= image_tag rest.image.url(:medium) %></td>
	</tr>

	<% end %>
</table>

<% content_for(:side_bar) do %>
	<% render 'cart' %>
<% end %>